.button {
    background-color:rgb(255,255,255,1);
    border-style:solid;
    border-width:2.1px;
    border-radius:4px;
    border-color:rgba(140, 140, 140,1);
    font:Microsoft YaHei;
    color:rgba(0,0,0,1);
    padding:6px;
}